# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
cover/
htmlcov/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
celerybeat-schedule
.vscode/
tf210_env/
# Node
frontend/node_modules/
frontend/.gitignore
.npm
.yarn-integrity
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
out/
build/
dist/

# ML
*.h5
*.keras
*.pb
saved_model/
dataset/

# Uploads
uploads/
backend/uploads/

# Environment variables
.env
/backend/.env