.bg-gradient-primary {
  background-image: linear-gradient(to right, #2E7D32, #4CAF50); /* bg-gradient-to-r from-[#2E7D32] to-[#4CAF50] */
}

.text-secondary-400 {
  color: #81C784; /* text-[#81C784] */
}

.hover\:text-secondary-400:hover {
  color: #81C784; /* text-[#81C784] */
}